{% extends "layout.html" %}

{% block content%}
<ul class="list-unstyled">
    <li class="media">
        <img src="static/img/mo.JPG" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>All my girls vintage Chanel baby. So you can have your cake. Tonight, tonight, tonight, I'm walking on
                air. Slowly swallowing down my fear, yeah yeah. Growing fast into a bolt of lightning. So hot and heavy,
                'Til dawn. That fairy tale ending with a knight in shining armor. Heavy is the head that wears the
                crown.</p>
        </div>
    </li>
    <li class="media my-4">
        <img src="static/img/mo.JPG" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>Maybe a reason why all the doors are closed. Cause once you’re mine, once you’re mine. Be your teenage
                dream tonight. Heavy is the head that wears the crown. It's not even a holiday, nothing to celebrate. A
                perfect storm, perfect storm.</p>
        </div>
    </li>
    <li class="media">
        <img src="static/img/mo.JPG" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p>Are you brave enough to let me see your peacock? There’s no going back. This is the last time you say,
                after the last line you break. At the eh-end of it all.</p>
        </div>
    </li>
</ul>
{% endblock %}