{% extends "layout.html" %}

{% block content%}
<!--
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Proyectos</h1>
        <p class="lead">....</p>
    </div>
</div>
-->
<div class="card" style="width: 18rem;">
    <img src="static/img/slide.JPG" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Jacinta</h5>
        <p class="card-text">Fotos de Jacinta.</p>
        <a href="#" class="btn btn-primary">Ir a su web</a>
    </div>
</div>
{% endblock %}